<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }}.jpg);'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <div class="site-info">
        <div class="primary-info">
            <h1>{{ page.page_title }}</h1>
            <p>{{ page.page_desc }}</p>

        </div>

        {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>                
                <a class="profile-link-icon" href="{{ page.cta_linkedin_link }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a class="profile-link-icon" href="{{ page.cta_github_link }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-github-square"></i>
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</section><!-- end sidebar -->
