---
layout: default
---

<header>
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav.html %}
</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">

            <!-- <object data="{{ page.resume_path }}" width="1000em" height="1000em" type='application/pdf'/></object>> -->

            <!-- <iframe src="https://docs.google.com/gview?url=https://drive.google.com/uc?export=download&id=1tDWCR_m796DIAjrFnAV6VxAsafBwKput&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe> -->

            <!-- <embed src="{{ page.resume_path }}" type="application/pdf" width=800 height=1200 /> -->
            <embed src="https://drive.google.com/uc?export=download&id=1tDWCR_m796DIAjrFnAV6VxAsafBwKput" type="application/pdf" width=800 height=1200 />
            
        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<!-- {% include footer-page.html %} -->
